* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --c-bg: #bee2e5;
  --c-nav: #68a3e6;
  --c-txt-nav: #e0ffff;
}

#col_Pass {
  max-width: 50px;
}

thead tr th:not(:first-child) {
  min-width: 100px;
  max-width: 350px;
  overflow: hidden;
}

.text-green td {
  color: var(--success);
}

#VIEW section::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#VIEW section::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 15px;
}

#VIEW section::-webkit-scrollbar-track:hover {
  background: #f0f0f0;
}

#VIEW section::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #f0f0f0;
}

#VIEW section::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}

.template-sample {
  display: block;
  height: 150px;
  width: 210px;
}

.wrapp-template {
  overflow: hidden;
  border-radius: 5px;
  width: 200px;
  height: 100%;
  background: #e3e3e3;
}

.wrapp-template {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-row-gap: 4px;
}

.wrapp-template .column {
  background: none;
}

.wrapp-template .column.bg {
  background: #b7b7b7;
}
